body {
	
}
/* Generic Selectors */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #333333;		
	background-color: #F9F9F9;
	/*margin: 0 0 0 0; top right bottom left*/	
}

p {
	width: 80%;
}

li {
	list-style-type: none;
	line-height: 150%;
	
}


h1 {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color:#7539f0;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #e922ee;
	border-bottom: 1px solid #C6EC8C;
}



/*************************  ID's *************************/

#navigation {
	position: absolute;
	
	width: 210px;
	height: 600px;	
	margin-top: 0px;
	border-right: 1px solid #C6EC8C;
	font-weight: normal;
}

#centerDoc {
	position: absolute;	
	
	padding: 0 0 20px 235px; /*top right bottom left*/
	margin-top: 50px;		
}



/*************************  Pseudo classes *************************/
a:link {
	color: #00CC00;
	text-decoration: underline;
	font-weight: bold;
}

a:visited { 
color: #00CC00;
text-decoration: underline;
font-weight: bold;
}

a:hover {
color: rgb(0, 96, 255);
padding-bottom: 5px;
font-weight: bold;
text-decoration: underline;

}  
a:active { 
color: rgb(255, 0, 102);
font-weight: bold; 
} 
